@tailwind base;
@tailwind components;

@layer components {
  .sidebar-icon {
    @apply flex items-center justify-center 
      bg-grey-800
      w-16 h-16 mt-6 mb-6 mx-auto
      hover:bg-green-500 hover:rounded-xl
      rounded-3xl
      transition-all ease-linear duration-300
      cursor-pointer
      hover:text-white;
  }
  .main-wrapper {
    @apply relative ml-20 h-screen p-4 text-white;
  }
  .word-spacing-max {
    word-spacing: 100px;
  }
}
